
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crear categoría</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'category_form' %}" method="POST">
                    {% csrf_token %}
                <div class="modal-body">
                        <div class="vstack gap-3">
                            <div>
                                <label for="name" class="form-label">Nombre de la Categoría</label>
                                <input class="form-control"
                                    id="name"
                                    required=""
                                    type="text"
                                    value="{{ category.name }}"
                                    name="name" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ category.description }}</textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
