{% extends 'base.html' %}

{% block content %}
<h2>Comentarios para {{ event.title }}</h2>

{% for comment in comments %}
  <div>
    <strong>{{ comment.user.username }}</strong> ({{ comment.created_at|date:"d/m/Y H:i" }}):<br>
    {{ comment.content }}

    {% if request.user == comment.user %}
        <a href="{% url 'comment_edit' comment.pk %}" class="btn btn-primary btn-sm">Editar</a>

        <form method="POST" action="{% url 'comment_delete' comment.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
        </form>

    {% elif request.user.is_authenticated and request.user.is_organizer and comment.event.organizer == request.user %}
        <form method="POST" action="{% url 'comment_delete' comment.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
        </form>
    {% endif %}
  </div>
  <hr>
{% endfor %}

<a href="{% url 'comment_add' event.id %}" class="btn btn-success">Agregar comentario</a>
{% endblock %}
