<div class="card-body">
    <h5 class="card-title">Comentarios</h5>
        {% for comment in comments %}
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-1">{{ comment.user.username }}</h6>
                    <div class="dropdown">
                        <button class="btn btn-link text-muted p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end bg-light rounded shadow">
                            {% if comment.user == user %}
                                <li>
                                    <a href="{% url 'comment_edit' comment.id %}?next={% url 'event_detail' comment.event.id %}" class="dropdown-item">
                                        Editar
                                    </a>
                                </li>
                            {% endif %}   
                            {% if comment.user == user or user_is_organizer  %}
                                <li>
                                    <form 
                                        action="{% url 'comment_delete' comment.id %}" 
                                        method="POST"
                                        onsubmit="return confirm('¿Estás seguro de que querés eliminar este comentario?');"
                                    >
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value={{ request.path }}>
                                        <button class="dropdown-item">
                                            Eliminar
                                        </button>
                                    </form>
                                </li>
                            {% endif %}   
                        </ul>
                      </div>
                </div>
                <div>
                    <small class="text-muted">{{ comment.created_at|date:"d/m/Y H:i" }}</small>
                </div>
                <div>
                    <h6 class="mb-1">{{ comment.title }}</h6>
                </div>
                <p class="mb-1">{{ comment.text }}</p>      
            </div>
            <hr>
        {% endfor %}
</div>
       