{% comment %}
    Componente: Formulario de selección de tickets
    Parámetros esperados:
    - available_tickets: número de tickets disponibles
    - ticket_types: lista de tipos de tickets con precio
{% endcomment %}

<!-- Cantidad de entradas -->
<div class="mb-4">
    <label for="tickets-quantity" class="form-label">Cantidad de entradas</label>
    <div class="input-group">
        <button class="btn btn-outline-secondary" type="button" id="menosCantidad">
            <i class="bi bi-dash"></i>
        </button>
        <input type="number" class="form-control text-center" id="quantity" 
            value="1" min="1" name="quantity">
        <button class="btn btn-outline-secondary" type="button" id="masCantidad">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</div>

<!-- Tipo de entrada -->
<div class="mb-4">
    <label for="type" class="form-label">Tipo de entrada</label>
    <select id="type" name="type" class="form-select">
        <option value="General" selected>GENERAL</option>
        <option value="VIP">VIP</option>
    </select>
</div>