{% extends "base.html" %}

{% block content %}
<div class="containerCategorias mt-5">
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <h3>Eventos en esta categoría</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acciones</th>  <!-- Nueva columna para la acción -->
            </tr>
        </thead>
        <tbody>
            {% for event in category.events.all %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.scheduled_at|date:"d b Y, H:i" }}</td>
                    <td>
                        <a href="{% url 'event_detail' event.id %}" class="btn btn-sm btn-outline-primary" aria-label="Ir a evento" title="Ir a evento">
                            <i class="bi bi-eye"></i>
                        </a> 
                        <a href="{% url 'ticket_create' event.id %}" class="btn btn-sm btn-outline-success" aria-label="Comprar ticket" title="Comprar ticket">
                            <i class="bi bi-cart"></i>
                        </a>                       
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay eventos en esta categoría</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Enlace para volver atrás -->
    <a href="{% url 'categories' %}" class="btn btn-outline-secondary mt-3">
        <i class="bi bi-arrow-left me-2" aria-hidden="true"></i> Volver a Categorías
    </a>
</div>
{% endblock %}
