{% extends "base.html" %}

{% block content %}
<div class="containerCategorias mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if category %}
                    Editar Categoría
                {% else %}
                    Crear Categoría
                {% endif %}
            </h1>

            <div class="card categoria">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="text-danger small">{{ form.name.errors }}</div>
                                {% endif %}
                            </div>

                            <div>
                                {{ form.description.label_tag }}
                                {{ form.description }}
                                {% if form.description.errors %}
                                    <div class="text-danger small">{{ form.description.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="form-check">
                                {{ form.is_active }}
                                {{ form.is_active.label_tag }}
                            </div>

                            <div>
                                <button type="submit" class="btn btn-eventgub-green crearCategoria">
                                    {% if category %}
                                        Editar Categoría
                                    {% else %}
                                        Crear Categoría
                                    {% endif %}
                                </button>
                                <a href="{% url 'categories' %}" class="btn btn-outline-eventhub">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
