{% extends "base.html" %}
{% block title %}Editar Solicitud de Reembolso{% endblock %}

{% block content %}
<div class="containerReembolsos mt-4">
  <h2>Editar Solicitud de Reembolso #{{ refund.id }}</h2>

  <form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="mb-3">
      {{ form.ticket_code.label_tag }}
      {{ form.ticket_code }}
      {{ form.ticket_code.errors }}
    </div>

    <div class="mb-3">
      {{ form.motivo.label_tag }}
      {{ form.motivo }}
      {{ form.motivo.errors }}
    </div>

    <div class="mb-3">
      {{ form.detalles.label_tag }}
      {{ form.detalles }}
      {{ form.detalles.errors }}
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3">
    <a href="{% url 'my_refund_requests' %}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-eventhub">Guardar cambios</button>
    </div>
  </form>
</div>
{% endblock %}
