{% extends 'base.html' %}

{% block content %}
  <div class="card shadow-sm" style="max-width: 600px; margin: auto; padding: 20px;">
    <h2 class="mb-4">Crear Nueva Ubicacion</h2>
    <form method="post" novalidate>
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small mt-1">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Crear Ubicación</button>
    </form>
  </div>
{% endblock %}
