/* ====== FONDO DE VIDEO ====== */
#bg-video{
    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;               /* detrás del contenido */
  }
  
  /* ====== TARJETA ====== */
  .auth-card{
    backdrop-filter:blur(18px);
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    border-radius:1rem;
    width: 450px;
  }
  
  .card-title{
    font-size:3.5rem;
    font-weight:700;
    margin-bottom:.5rem;
    color:#e4222d;
  }
  
  .iniciarSesion{
    color:#fff;
    font-size:2rem;
    font-weight:700;
  }
  
  /* Botones rojos (reutilizamos las clases globales) */
  .btn-eventhub{
    background:#e4222d;
    border:#e4222d;
    color:#fff;
  }
  .btn-eventgub-green {
    
    background:  #198754;
    color: #ffffff;

  }
  .btn-eventgub-green:hover {
    background: #6db493 !important;
    color: #fff !important;
  }
  .btn-eventhub:hover{background:#ff4753;border-color:#ff4753}
  
  /* input transparente */
  .form-control{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.25);
    color:#fff;
  }
  .form-control::placeholder{color:#ddd}
  .form-label{color:#eee; text-align: start; width: 100%;}
  
  /* en pantallas chicas reduce ancho */
  @media(max-width:575px){
    .card-title{font-size:2.8rem}
    .iniciarSesion{font-size:1.6rem}
  }
  