{% block content %}
<div class="mb-4">
    <h6>{{ form.title.label_tag }}</h6>
    <input type="text" class="form-control" name="title" value="{{ form.title.value }}" placeholder="Título de la reseña">

    <h6 class="mt-4">{{ form.rating.label_tag }}</h6>
    <div class="d-flex align-items-center">
        {% include "components/star_rating.html" with name="rating" selected=form.rating.value %}
    </div>

    <h6 class="mt-4">{{ form.text.label_tag }}</h6>
    <textarea class="form-control" name="text" rows="4" placeholder="Escribe tu reseña aquí">{{ form.text.value }}</textarea>

    <button type="submit" class="btn btn-primary mt-3">
        Enviar calificación
    </button>
</div>
{% endblock %}
