{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h2>Comprar Ticket para {{ event.title }}</h2>
    
    <!-- Card con detalles del evento -->
    <div class="card mb-4">
        <div class="card-body">
            <h6 class="mb-0">Fecha y Hora</h6>
            <p class="mb-0">{{ event.scheduled_at|date:"l, j \d\e F \d\e Y, H:i" }}</p>
            <p><strong>Lugar:</strong> {{ event.venue.name }}</p>
        </div>
    </div>
    

    <!-- Formulario de compra -->
    <form method="post" class="mt-4">
        {% csrf_token %}
        
        <!-- Card con detalles del ticket -->
    <div class="card mb-4">
        <div class="card-header">Detalles del Ticket</div>
        <div class="card-body">
         <div class="row">
             <div class="col-md-6 mb-3">
                <label for="{{ form.quantity.id_for_label }}">Cantidad</label>
                <div class="input-group">
                    {{ form.quantity|add_class:"form-control" }}
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="{{ form.type.id_for_label }}">Tipo</label>
                    <div class="input-group">
                    {{ form.type|add_class:"form-control" }}
                </div>
            </div>
            </div>
        </div>
     </div>

        
        <!-- Card con la información de pago -->
        <div class="card mb-4">
        <div class="card-header">Información de Pago</div>
        <div class="card-body">
        <!-- Crear una fila para contener las columnas -->
        <div class="row">
            <!-- Columna para el número de tarjeta -->
            <div class="col-md-6 mb-3">
                {{ form.card_number.label_tag }}
                <div class="input-group">
                    {{ form.card_number|add_class:"form-control" }}
                </div>
            </div>
            <!-- Columna para el titular de la tarjeta -->
            <div class="col-md-6 mb-3">
                {{ form.card_holder.label_tag }}
                <div class="input-group">
                    {{ form.card_holder|add_class:"form-control" }}
                </div>
            </div>
        </div>
        <!-- Otra fila para los campos de fecha de expiración y CVC -->
        <div class="row">
            <!-- Columna para la fecha de expiración -->
            <div class="col-md-6 mb-3">
                {{ form.expiration_date.label_tag }}
                <div class="input-group">
                    {{ form.expiration_date|add_class:"form-control" }}
                </div>
            </div>
            <!-- Columna para el CVC -->
            <div class="col-md-6 mb-3">
                {{ form.cvc.label_tag }}
                <div class="input-group">
                    {{ form.cvc|add_class:"form-control" }}
                </div>
            </div>
        </div>
    </div>
</div>

        
        <footer class="mt-4">
            <div class="d-flex justify-content-between">
                <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">Volver al Evento</a>
                <button type="submit" class="btn btn-primary" id="buyButton">
                    Comprar Ticket
                    <span id="spinner" class="spinner-border spinner-border-sm text-light" style="display: none;" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </footer>

    </form>
</div>

<script>
    // Mostrar el spinner y deshabilitar el botón al enviar el formulario
    document.querySelector('form').addEventListener('submit', function(event) {
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('buyButton').disabled = true;
    });
</script>
{% endblock %}
