{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form action="{% url 'event_form' %}" method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            {% if event.id %}
                            <input type="hidden" name="id" value="{{ event.id }}">
                            {% endif %}
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required=""
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ event.description }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required=""
                                        type="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d'}}"
                                        name="date" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required=""
                                        type="time"
                                        value="{% if event.scheduled_at %}{{ event.scheduled_at|date:'H:i' }}{% endif %}"
                                        name="time" />
                                </div>
                            </div>
                            <div>
                                <label for="category" class="form-label">Categoría</label>
                                <select class="form-select" id="category" name="category" required>
                                    <option value="">Selecciona una categoría</option>
                                    {% for cat in categories %}
                                        <option value="{{ cat.id }}"
                                            {% if event.category and event.category.id == cat.id %}
                                                selected
                                            {% endif %}
                                        >
                                            {{ cat.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Dropdown para seleccionar locación -->
                            <div>
                                <label for="venue" class="form-label">Locación</label>
                                <select class="form-select" id="venue" name="venue" required>
                                    <option value="">Selecciona una locación</option>
                                    {% for v in venues %}
                                    <option value="{{ v.id }}"
                                        {% if event.venue and event.venue.id == v.id %}
                                            selected
                                        {% endif %}
                                    >
                                        {{ v.name }} - {{ v.city }} ({{ v.capacity }} personas)
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-check-circle me-2"></i> {% if event.id %}Guardar Cambios{% else %}Crear Evento{% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
