
                <div class="card-body p-0">                    

                    <div class="bg-body-tertiary w-100 p-2 mb-3">
                        <h5 class="card-title m-0 ps-2">Calificaciones y Reseñas ({{ cantidad_resenas }})</h5>
                    </div>

                    <div id="mensajeResena" class="mb-3">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>   
                        
                    <div class="px-3">
                        {% for rating in ratings %}
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-person-circle fs-3 me-2"></i>
                                        <div>
                                            <h6 class="card-title">{{ rating.usuario.username }}</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ rating.fecha_creacion|date:"d/m/Y H:i" }}</h6>
                                        </div>
                                    </div>
                                    <p class="card-text"><strong>{{ rating.titulo }}</strong></p>
                                    <p class="card-text">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= rating.calificacion %}
                                                <i class="bi bi-star-fill text-warning"></i>
                                            {% else %}
                                                <i class="bi bi-star text-warning"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p class="card-text">{{ rating.texto }}</p>

                                    {% if user.is_authenticated and user == rating.usuario or user.is_staff %}
                                        <form method="post" style="display: inline;" action="{% url 'event_eliminar_rating' event.id rating.id %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta reseña?');">
                                            {% csrf_token %}
                                            <input type="hidden" name="rating_id" value="{{ rating.id }}">
                                            <button type="submit" name="eliminar" class="btn btn-sm btn-danger">Eliminar</button>
                                        </form>
                                        <a href="{% url 'event_editar_rating' event.id rating.id %}?edit" class="btn btn-sm btn-success">Editar</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <p>Aún no hay reseñas para este evento. ¡Sé el primero en opinar!</p>
                        {% endfor %}

                        <hr>

                        {% if user.is_authenticated %}
                            {% if not resena %}
                                <button id="mostrarFormulario" class="btn btn-primary mb-3">Crear nueva reseña</button>
                            {%endif%}

                            {% if editando %}
                                <form method="post" id="formularioResena"
                                    action="{% url 'event_editar_rating' event.id resena.id %}"
                                    onsubmit="return validarFormulario();">
                                <input type="hidden" name="Modo" value="editar">
                            {% elif not resena %}
                                <form method="post" id="formularioResena" class="d-none"
                                    action="{% url 'event_guardar_rating' event.id %}"
                                    onsubmit="return validarFormulario();">
                                <input type="hidden" name="Modo" value="crear">
                            {% endif %}

                            {% if editando or not resena %}
                                <h6>{% if editando %}Editar tu reseña{% else %}Crear reseña{% endif %}</h6>
                            {% csrf_token %}
                            <div class="card p-4 mb-4">

                                <div class="mb-3">
                                    <h6>Título de tu reseña *</h6>
                                    {{ form.titulo }}
                                </div>
                        
                                <div class="mb-3">
                                    <h6>Tu calificación *</h6>
                                    <div id="starRating" class="d-flex gap-1 fs-3">
                                        {% for i in "12345" %}
                                            <i class="bi bi-star" data-value="{{ forloop.counter }}"></i>
                                        {% endfor %}
                                    </div>
                                    {{ form.calificacion }}
                                </div>
                        
                                <div class="mb-3">
                                    <h6>Tu reseña (opcional)</h6>
                                    {{ form.texto }}
                                </div>
                        
                                
                                {% if editando %}
                                    <button type="submit" class="btn btn-primary w-100">Actualizar reseña</button>
                                    <button type="button" id="cancelarEdicion" class="btn btn-outline-secondary w-100 mt-2">Cancelar edición</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary w-100">Enviar reseña</button>
                                {% endif %}
                            </div>
                        </form>
                        {% endif %}
                    {% endif %}
                </div>    
            </div>
    </div>

<!--Espacio JavaScript para controlar la visualizacion del formulario-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const boton = document.getElementById("mostrarFormulario");
        const formulario = document.getElementById("formularioResena");
    
        if (boton && formulario) {
            boton.addEventListener("click", function () {
                formulario.classList.remove("d-none");
                boton.classList.add("d-none");
            });
        }
    });
    </script>


<!--JavaScript para desarrollar actualizacion, creacion y eliminacion de Reseñas-->
<script>
    function mostrarMensaje(texto, tipo = "success") {
        const contenedor = document.getElementById("mensajeResena");
        if (!contenedor) return;
    
        contenedor.innerHTML = '';
    
        const alerta = document.createElement("div");
        alerta.className = `alert alert-${tipo} alert-dismissible fade show`;
        alerta.role = "alert";
        alerta.innerHTML = `
            ${texto}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        `;
        contenedor.appendChild(alerta);
        contenedor.scrollIntoView({ behavior: "smooth", block: "center" });
    
        setTimeout(() => {
            const bsAlert = bootstrap.Alert.getOrCreateInstance(alerta);
            bsAlert.close();
        }, 4000);
    }
</script>
    

<!--Espacio JavaScript para desarrollar interaccion con estrellas-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const stars = document.querySelectorAll('#starRating i');
        const ratingInput = document.querySelector('input[name="calificacion"]');

        if (ratingInput && ratingInput.value) {
            highlightStars(ratingInput.value);
        }
    
        stars.forEach(star => {
            star.addEventListener('mouseover', () => {
                const val = star.getAttribute('data-value');
                highlightStars(val);
            });
    
            star.addEventListener('mouseout', () => {
                highlightStars(ratingInput.value);
            });
    
            star.addEventListener('click', () => {
                const val = star.getAttribute('data-value');
                ratingInput.value = val;
                highlightStars(val);
            });
        });
    
        function highlightStars(count) {
            stars.forEach(star => {
                if (star.getAttribute('data-value') <= count) {
                    star.classList.remove('bi-star');
                    star.classList.add('bi-star-fill', 'text-warning');
                } else {
                    star.classList.add('bi-star');
                    star.classList.remove('bi-star-fill', 'text-warning');
                }
            });
        }
    });    
</script>

<!--JavaScript para el control de validaciones para el formulario-->
<script>
    function validarFormulario() {
        const tituloInput = document.querySelector('input[name="titulo"]');
        const ratingInput = document.querySelector('input[name="calificacion"]');
        
        let mensaje = "";
        
            if (!tituloInput.value.trim()) {
                mensaje += "El título no puede estar vacío.\n";
            }
        
            if (!ratingInput.value || ratingInput.value === "0") {
                mensaje += "Debes seleccionar una calificación en estrellas.\n";
            }
        
            if (mensaje) {
                alert(mensaje);
                return false; 
            }
        
        return true;
    }
</script>

<!--Espacio JavaScript para desarrollar  el funcionamiento del boton de "cancelar edicion"-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cancelarBtn = document.getElementById("cancelarEdicion");
        const formulario = document.getElementById("formularioResena");
        const botonCrear = document.getElementById("mostrarFormulario");
    
        if (cancelarBtn) {
            cancelarBtn.addEventListener("click", function () {
                formulario.classList.add("d-none");
    
                if (botonCrear) {
                    botonCrear.classList.remove("d-none");
                }
    
                const url = new URL(window.location);
                url.searchParams.delete("edit");
                window.history.replaceState({}, document.title, url);
            });
        }
    });
</script>
    