{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form id="eventForm" action="{% if event.id %}{% url 'event_edit' id=event.id %}{% else %}{% url 'event_form' %}{% endif %}" method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required>{{ event.description }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required
                                        type="date"
                                        name="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d' }}"
                                        min="{{ min_date }}" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required
                                        type="time"
                                        value="{{ event.scheduled_at|date:'H:i' }}"
                                        name="time" />
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    {% if event.id %}
                                        Guardar Cambios
                                    {% else %}
                                        Crear Evento
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('eventForm').addEventListener('submit', function(event) {
        const dateInput = document.getElementById('date');
        const selectedDateParts = dateInput.value.split('-');

        const selectedDate = new Date(
            parseInt(selectedDateParts[0], 10),
            parseInt(selectedDateParts[1], 10) - 1,
            parseInt(selectedDateParts[2], 10)
        );
        selectedDate.setHours(0, 0, 0, 0);

        const today = new Date();
        today.setHours(0, 0, 0, 0);
        const tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);

        if (selectedDate.getTime() < tomorrow.getTime()) {
            alert('La fecha debe ser posterior a la actual.');
            event.preventDefault();
        }
    });
</script>

{% endblock %}
