{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="text-start mt-3 ms-0">
    <a href="{% url 'home' %}" class="text-decoration-none text-secondary">
      <i class="bi bi-arrow-left"></i> Volver a Home
    </a>
  </div>
  <h2>Solicitudes de Reembolso</h2>

  {% if refunds %}
    <table class="table table-striped mt-3">
      <thead class="table-light">
        <tr>
          <th>Código de entrada</th>
          <th>Evento</th>
          <th>Solicitante</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for r in refunds %}
        <tr>
          <td>{{ r.ticket_code }}</td>
          <td>{{ r.event.title }}</td>
          <td>{{ r.user.username }}</td>
          <td>{{ r.created_at|date:"d/m/Y" }}</td>
          <td>
            {% if r.approved is None %}
              <span class="badge bg-warning">Pendiente</span>
            {% elif r.approved %}
              <span class="badge bg-success">Aprobado</span>
            {% else %}
              <span class="badge bg-danger">Rechazado</span>
            {% endif %}
          </td>
          <td>
                <div class="hstack gap-1">
                    <a href="{% url 'refund_detail' r.id %}"
                        class="btn btn-sm btn-outline-primary"
                        aria-label="Ver detalle"
                        title="Ver detalle">
                        <i class="bi bi-eye" aria-hidden="true"></i>
                    </a>
                        {% if r.approved is None %}
                          <form method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="refund_id" value="{{ r.id }}">

                            <button type="submit" name="approve" value="1"
                                    class="btn btn-sm btn-outline-success"
                                    title="Aprobar">
                              <i class="bi bi-check-lg"></i>
                            </button>

                            <button type="submit" name="reject" value="1"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Rechazar">
                              <i class="bi bi-x-lg"></i>
                            </button>
                          </form>
                        {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">No hay solicitudes por revisar.</div>
  {% endif %}
</div>
{% endblock %}
