{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="fw-bold">
            Notificaciones 
            <span class="badge bg-danger fs-6 ms-2">{{ new_notifications_count }} nuevas</span>
        </h1>
        <a href="{% url 'mark_all_as_read' %}" class="btn btn-outline-primary">Marcar todas como leídas</a>
    </div>
    <div class="list-group rounded overflow-hidden">
        {% for notification in notifications %}
            <div class="list-group-item {% if notification.is_new %}bg-light{% endif %} d-flex justify-content-between align-items-start border-start border-1 border-primary">
                <div class="me-3">
                    <h6 class="mb-1">
                        <i class="bi bi-bell-fill text-primary me-1"></i>
                        <strong>{{ notification.event.title }}</strong>
                        {% if not notification.NotificationUser.is_read %}
                            <span class="badge bg-primary ms-2">Nueva</span>
                        {% endif %}
                    </h6>
                    <p class="mb-1">{{ notification.message }}</p>
                    <small class="text-muted">{{ notification.created_at|date:"d M Y, H:i" }}</small>
                </div>
                {% if not notification.NotificationUser.is_read %}
                <div>
                    <a href="{% url 'mark_as_read' notification.id %}" class="btn btn-outline-primary btn-sm">Marcar como leída</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}