{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Mis Entradas</h1>

    {% if tickets %}
        <div class="row justify-content-center">
            {% for ticket in tickets %}
                <div class="col-md-8 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ ticket.event.title }}</h5>
                            <p class="card-text mb-2">
                                <strong>Fecha:</strong> {{ ticket.buy_date }}<br>
                                <strong>Código de Entrada:</strong> {{ ticket.ticket_code }}<br>
                                <strong>Tipo de Entrada:</strong> {{ ticket.type }}<br>
                                <strong>Cantidad:</strong> {{ ticket.quantity }}
                            </p>
                            <div class="d-flex justify-content-end">
                                {% if not request.user.is_authenticated or not request.user.is_organizer %} <!-- si el user es ORGANIZER no puede visualizar el boton -->
                                <a href="{% url 'ticket_update' ticket.id %}" class="btn btn-sm btn-primary me-2">Editar</a>
                                {% endif %}
                                <a href="{% url 'ticket_delete' ticket.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            No tienes tickets registrados.
        </div>
    {% endif %}
</div>
{% block styles %}
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); /* sombra leve inicial */
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* sombra más intensa en hover */
    }
</style>
{% endblock %}
{% endblock %}
