{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Haz comprado Ticket para:</h2>
    <div class="card">
        <div class="card-header">
            <p><strong>{{ ticket.event.title }}</strong> </p>
            Código: {{ ticket.ticket_code }}
        </div>
        <div class="card-body">
            
            <p><strong>Fecha del evento:</strong> {{ ticket.event.scheduled_at }}</p>
            <p><strong>Lugar:</strong> {{ ticket.event.venue.name }}</p>
            <p><strong>Tipo:</strong> {{ ticket.get_type_display }}</p>
            <p><strong>Cantidad:</strong> {{ ticket.quantity }}</p>
            <p><strong>Fecha de compra:</strong> {{ ticket.buy_date }}</p>
        </div>
        <div class="card-footer">
            {% if user == ticket.user %}
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
            <a href="{% url 'my_tickets' %}" class="btn btn-secondary">Mis Tickets</a>
        </div>
    </div>
</div>
{% endblock %}