{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if venue.id %}
                Editar Ubicación
                {% else %}
                Crear Nueva Ubicación
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form action="{% url 'venue_form' %}" method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="name" class="form-label">Nombre de la ubicacion</label>
                                <input class="form-control" id="name" required="" type="text" value="{{ venue.name }}"
                                    name="name" />
                            </div>
                            <div>
                                <label for="address" class="form-label">Dirección</label>
                                <input class="form-control" id="address" required="" type="text"
                                    value="{{ venue.address }}" name="address" />
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="province" class="form-label">Provincia</label>
                                    <select class="form-select" id="province" name="province" required>
                                        <option value="">Seleccionar Provincia</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="city" class="form-label">Ciudad</label>
                                    <select class="form-select" id="city" name="city" required>
                                        <option value="">Seleccionar Ciudad</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="capacity" class="form-label">Capacidad (numero de personas)</label>
                                <input class="form-control" id="capacity" required="" type="number"
                                    value="{{ venue.capacity }}" name="capacity" />
                            </div>
                            <div>
                                <label for="contact" class="form-label">Contacto</label>
                                <input class="form-control" id="contact" required="" type="text"
                                    value="{{ venue.contact }}" name="contact" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Crear Ubicación</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const provincesUrl = "{% static 'data/argentina_states.json' %}";
    const citiesUrl = "{% static 'data/argentina_localities.json' %}";

    let provinces = [];
    let cities = [];

    fetch(provincesUrl)
        .then(response => response.json())
        .then(data => {
            provinces = data;
            const provinceSelect = document.getElementById('province');
            data.forEach(p => {
                const option = document.createElement('option');
                option.value = p.code;
                option.textContent = p.name;
                provinceSelect.appendChild(option);
            });
        });

    fetch(citiesUrl)
        .then(response => response.json())
        .then(data => {
            cities = data;
        });

    function updateCities(province_code) {
        const citySelect = document.getElementById('city');
        console.log("Selected province:", province_code);
        citySelect.innerHTML = '<option value="">Seleccionar Ciudad</option>';

        const filteredCities = cities.filter(c => c.code === province_code);
        filteredCities.forEach(c => {
            const option = document.createElement('option');
            option.value = c.name;
            option.textContent = c.name;
            citySelect.appendChild(option);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const provinceSelect = document.getElementById('province');
        const citySelect = document.getElementById('city');

        provinceSelect.addEventListener('change', function () {
            const selectedProvinceCode = provinceSelect.value;
            updateCities(selectedProvinceCode);
        });
    });
</script>
{% endblock %}