{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="containerTickets mt-4">
    <h2 class="mb-4">Tickets Recibidos en tus Eventos</h2>

    {% if grouped_tickets %}
        {% for event, tickets in grouped_tickets %}
            <div class="card mb-4 shadow-lg">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">{{ event.title }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for ticket in tickets %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ ticket.user.username }}</strong> compró un ticket de tipo 
                                <strong>{{ ticket.get_ticket_type_display }}</strong><br>
                                <small class="text-muted">Fecha de compra: {{ ticket.buy_date }}</small>
                            </div>
                            <span>
                                {% if is_organizer %}
                                  <a href="{% url 'ticket_delete_organizer' ticket.pk %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                {% else %}
                                  <a href="{% url 'ticket_delete' ticket.pk %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                {% endif %}
                              </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No hay tickets aún.
        </div>
    {% endif %}
</div>
{% endblock %}
