[data-bs-theme="dark"] .bg-light {
    background-color: #262626 !important;
  }

[data-bs-theme="dark"] .table-light {
    background-color: #262626 !important;
    --bs-table-bg: #262626;
    --bs-table-bg: #212529;
    --bs-table-border-color: #c6c7c838;
}

[data-bs-theme="dark"] .table-light th {
    color: #dee2e6 !important;
}

.star-rating {
    direction: rtl;
    font-size: 1.8rem;
    unicode-bidi: bidi-override;
    display: inline-flex;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.rating-buttons {
    display: flex;
    gap: 0.5rem;
}

.rating-buttons button {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

.rating-buttons button:hover {
    background-color: #f0f0f0;
}
